#(project
  (#(meta (
     #(name los)
     #(description "An LFE Library for exploring OOP")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "Library" "OOP" "Objects" "Polymorphism"
                 "Dispatch" "Inheritance" "Object-oriented" "Closures"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (#(github "lfex/los")))))
   #(deps (#("rvirding/lfe" "develop")))))