{erl_opts, [debug_info]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {lfe, ".*"}, %% this is managed by lfe.config
    {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.1"}}},
    {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.6.5"}}}
  ]}.
